body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 0.862em;
}

table.testing code {
  display: block;
  padding: 10px;
  background-color: #ddd;
}

table.testing tr:nth-child(odd) {
  background-color: #EEE;
}

table.testing td {
  vertical-align: top;
  font-size: 0.862em;
  padding: 10px;
}

line.hollaback-x-axis-line {
  stroke: #009900;
  stroke-width: 5;
}

.color01 {  color: #80A5E4  }
.color02 {  color: #D45D5D  }
.color03 {  color: #F2AE4E  }
.color04 {  color: #D4D13F  }
.color05 {  color: #2fb328  }
.color06 {  color: #4221e1  }
.color07 {  color: #873BE3  }
.color08 {  color: #d78535  }
.color09 {  color: #8bbf41  }
.color10 {  color: #3fdfe3  }
.color11 {  color: #254725  }
.color12 {  color: #741c1e  }
.color13 {  color: #9b6f35  }
.color14 {  color: #6c6920  }
.color15 {  color: #354631  }
.color16 {  color: #100a33  }
.color17 {  color: #412174  }
.color18 {  color: #5e3a17  }
.color19 {  color: #334618  }
.color20 {  color: #19585a  }